In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import csv

In [3]:
year = [1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018]
midterm = [1994,1998,2002,2006,2010,2014]
pres = [1996,2000,2004,2008,2012,2016]
year_val = list(range(0,7))
new_val = list(range(0,8))

### Big Picture:

Goal: Instead of having each data point have its own row, we want to join rows based on lookup number.

For example, instead of the voter registration percentage for "Asian|1994" and "Asian|1996", we want just one row that says "Race_Asian_registered" and the voting reg. data for 1996-2016

Previous:


| ID         | Voting Reg % |
|------------|--------------|
| Asian-1996 | 59.2         |
| Asian-1998 | 58.4         |

Goal:



|  - | Year           | 1996 | 1998 | 2000 | 2002 | 2004 |
|----|----------------|------|------|------|------|------|
| ID | Race_Asian_reg | 59.2 | 58.4 | 60.5 | 55.4 | 61.3 |

### Read in csv file of all data into a Pandas dataframe###

In [4]:
df2 = pd.read_csv('big_ivr_test.csv')

In [5]:
#Store a list of all the keys. They SHOULD be unique (some of them aren't)
key = list(df2['Lookup_Item'])
key = key[:-1]

reg_list = []
voted_list = []

# For each key value, store the corresponding registration and voting percentage (the data we want)
for value in key:
    #print(value)
    temp = df2.query('Lookup_Item == @value')
    reg = list(temp['pct_reg_cvap'])
    voted = list(temp['pct_voted_cvap'])
    reg_list.append(reg[0])
    voted_list.append(voted[0])

In [19]:
# Update the dataframe to have its key be the Lookup_Item column
df3 = df2.set_index("Lookup_Item", drop = False)
print(df3.shape)

# Screen out the Lookup_Items that we don't want 
# Also removes any tag with phrase 'Not in Universe'
df3 = df3[df3.dimension != 'Not in Universe']
df3 = df3[df3.single_topline != 'Geo Area of Origin']
df3 = df3[df3.dimension != 'Ignore']
df3 = df3[df3.single_topline != 'Race, Urban/Rural Type']
df3 = df3[df3.single_topline != 'Urban/Rural Type, Income']
df3 = df3[df3.single_topline != 'Race, Urban/Rural Type, Income']
df3 = df3[df3.single_topline != 'Urban/Rural Type']
df3 = df3[df3.single_topline != 'Race, Age']
df3 = df3[df3.single_topline != 'Race, Educational Attainment']
df3 = df3[df3.dimension != 'Other']
df3 = df3[df3.single_topline != 'Race, Income']

print(df3.shape)

(9544, 12)
(1194, 12)

In [20]:
# First five rows of our new table
df3.head(13)

,rowid,single_topline,dimension,dimension1,year,cvap,reg_cvap,voted_cvap,pct_reg_cvap,pct_voted_cvap,Lookup_Item,% voted who are registered
Lookup_Item,,,,,,,,,,,,
Asian|1994,1,Race,Asian,Asian,1994,"2,683,979","1,393,527","1,056,601",51.92,39.37,Asian|1994,75.82206875
Asian|1996,2,Race,Asian,Asian,1996,"3,865,055","2,209,533","1,740,493",57.17,45.03,Asian|1996,78.77198485
Asian|1998,3,Race,Asian,Asian,1998,"4,421,769","2,163,153","1,431,391",48.92,32.37,Asian|1998,66.17150983
Asian|2000,4,Race,Asian,Asian,2000,"4,717,882","2,470,357","2,044,981",52.36,43.35,Asian|2000,82.78078836
Asian|2002,5,Race,Asian,Asian,2002,"5,310,520","2,615,263","1,660,294",49.25,31.26,Asian|2002,63.48478145
Asian|2004,6,Race,Asian,Asian,2004,"6,269,651","3,247,436","2,768,231",51.80,44.15,Asian|2004,85.2435891
Asian|2006,7,Race,Asian,Asian,2006,"6,614,289","3,244,592","2,144,606",49.05,32.42,Asian|2006,66.09786377
Asian|2008,8,Race,Asian,Asian,2008,"7,059,262","3,900,564","3,357,383",55.25,47.56,Asian|2008,86.07429592
Asian|2010,9,Race,Asian,Asian,2010,"7,638,549","3,765,413","2,353,798",49.29,30.81,Asian|2010,62.51101805
Asian|2012,10,Race,Asian,Asian,2012,"8,253,664","4,648,661","3,904,167",56.32,47.30,Asian|2012,83.98476465
Asian|2014,11,Race,Asian,Asian,2014,"9,503,650","4,641,814","2,575,273",48.84,27.10,Asian|2014,55.47988351
Asian|2016,12,Race,Asian,Asian,2016,"10,283,470","5,784,614","5,042,946",56.25,49.04,Asian|2016,87.17860863
Black|1994,13,Race,Black,Black,1994,"20,828,508","12,762,015","8,095,261",61.27,38.87,Black|1994,63.43246737

### Tricky part!!!

In [14]:
# This is a bunch of annoying, confusing code.

'''
Basically, the original data has a general rule that each chunk of
inputs is separated by a column with the year 2016.
After the year 2016 appears, a Lookup_Item is being queried.

This code goes through each row in the table and grabs 
the first Lookup_Item and the last Lookup_Item for each sequence.

For example, it will put 'Asian|1994' as the first entry in the list
'start' and it will put 'Asian|2016' as the first entry in the list 'end'

Thus, when one prints the first entry of list start and list end, the output
will be: Asian|1994, Asian|2016. 

This will allow me to retrieve chunks of data from the original table.
''' 

num_rows = df3.shape[0]

start = []
end = []

first = True
for i in range(0,num_rows):
    year = str(int(df3.iloc[i,4]))
    dim = str(df3.iloc[i,2])
    combo = dim + '|' + year
    
    #Special case for first year
    if first == True:
        start.append(combo)
        first = False
    
    if year == '2016':
        end.append(combo)
        
        new_year = str(int(df3.iloc[i+1,4]))
        new_dim = str(df3.iloc[i+1,2])
        new_start = new_dim + '|' + new_year
        start.append(new_start)
start = start[:-1]

In [15]:
# Double check to ensure that the sizes of each list are the same
print(len(start),len(end))

# for a,b in zip(start,end):
#     print(a,b)

print(start[10],end[10])

180 180
18 - 24|1994 18 - 24|2016

### Fun part!

In [16]:
id_list = []
data_list = []

'''
For each pair of Lookup_Items from the previous step,
grab the registration percentage and voting percentage data.

Insert both of them into a new table, with a Unique Identifier
based on the info from the table. 

For example, Asian|1994 . . . Asian|2016 becomes Race_Asian_r (for registered)
and Race_Asian_v (for voted)
'''
for a,b in zip(start,end):
    cur = df3.loc[a:b,"pct_reg_cvap":"pct_voted_cvap"]
    head = df3.loc[a,"single_topline"]
    dim = df3.loc[a,"dimension"]
    
    reg = cur.values[:,0]
    vote = cur.values[:,1]
    
    while(len(reg) < 12):
        reg = np.insert(reg,0, 0)
    
    while(len(vote) < 12):
        vote = np.insert(vote,0,0)
    
    #Unique_ID code
    reg_id = str(head) + '_' + str(dim) + '_r'
    vote_id = str(head) + '_' + str(dim) + '_v'


    id_list.append(reg_id)
    id_list.append(vote_id)
    data_list.append(reg)
    data_list.append(vote)

In [21]:
print(id_list)

['Race_Asian_r', 'Race_Asian_v', 'Race_Black_r', 'Race_Black_v', 'Race_Combination_r', 'Race_Combination_v', 'Race_Hawaiian/Pacific Islander_r', 'Race_Hawaiian/Pacific Islander_v', 'Race_Native American_r', 'Race_Native American_v', 'Race_White_r', 'Race_White_v', 'Race_Hispanic_r', 'Race_Hispanic_v', 'Race_Non-Hispanic_r', 'Race_Non-Hispanic_v', 'Race_Non-White or Hispanic_r', 'Race_Non-White or Hispanic_v', 'Race_White Non-Hispanic_r', 'Race_White Non-Hispanic_v', 'Age_18 - 24_r', 'Age_18 - 24_v', 'Age_25 - 29_r', 'Age_25 - 29_v', 'Age_30 - 39_r', 'Age_30 - 39_v', 'Age_40 - 49_r', 'Age_40 - 49_v', 'Age_50 - 65_r', 'Age_50 - 65_v', 'Age_65+_r', 'Age_65+_v', 'Income_0K_12.5K_r', 'Income_0K_12.5K_v', 'Income_100K+_r', 'Income_100K+_v', 'Income_12.5K_20K_r', 'Income_12.5K_20K_v', 'Income_20K_40K_r', 'Income_20K_40K_v', 'Income_40K_60K_r', 'Income_40K_60K_v', 'Income_60K_75K_r', 'Income_60K_75K_v', 'Income_75K_100K_r', 'Income_75K_100K_v', 'Gender and Marriage_Married Men_r', 'Gender and Marriage_Married Men_v', 'Gender and Marriage_Married Women_r', 'Gender and Marriage_Married Women_v', 'Gender and Marriage_Single Men_r', 'Gender and Marriage_Single Men_v', 'Gender and Marriage_Single Women_r', 'Gender and Marriage_Single Women_v', 'Citizenship Status_Foreign Born, Not a US Citizen_r', 'Citizenship Status_Foreign Born, Not a US Citizen_v', 'Citizenship Status_Foreign Born, US Cit By Naturalization_r', 'Citizenship Status_Foreign Born, US Cit By Naturalization_v', 'Citizenship Status_Native, Born Abroad Of US Parent(s)_r', 'Citizenship Status_Native, Born Abroad Of US Parent(s)_v', 'Citizenship Status_Native, Born in PR or US Outlying Area_r', 'Citizenship Status_Native, Born in PR or US Outlying Area_v', 'Citizenship Status_Native, Born In US_r', 'Citizenship Status_Native, Born In US_v', 'RAE_Non-White_r', 'RAE_Non-White_v', 'RAE_Other White_r', 'RAE_Other White_v', 'RAE_White RAE_r', 'RAE_White RAE_v', 'Detailed Hispanic Ethnicity_Central or South American_r', 'Detailed Hispanic Ethnicity_Central or South American_v', 'Detailed Hispanic Ethnicity_Cuban_r', 'Detailed Hispanic Ethnicity_Cuban_v', 'Detailed Hispanic Ethnicity_Mexican_r', 'Detailed Hispanic Ethnicity_Mexican_v', 'Detailed Hispanic Ethnicity_Other Hispanic_r', 'Detailed Hispanic Ethnicity_Other Hispanic_v', 'Detailed Hispanic Ethnicity_Puerto Rican_r', 'Detailed Hispanic Ethnicity_Puerto Rican_v', 'Detailed Asian Ethnicity_Asian Indian_r', 'Detailed Asian Ethnicity_Asian Indian_v', 'Detailed Asian Ethnicity_Chinese_r', 'Detailed Asian Ethnicity_Chinese_v', 'Detailed Asian Ethnicity_Filipino_r', 'Detailed Asian Ethnicity_Filipino_v', 'Detailed Asian Ethnicity_Japanese_r', 'Detailed Asian Ethnicity_Japanese_v', 'Detailed Asian Ethnicity_Korean_r', 'Detailed Asian Ethnicity_Korean_v', 'Detailed Asian Ethnicity_Other Asian_r', 'Detailed Asian Ethnicity_Other Asian_v', 'Detailed Asian Ethnicity_Vietnamese_r', 'Detailed Asian Ethnicity_Vietnamese_v', 'Disabled Status_Disabled_r', 'Disabled Status_Disabled_v', 'Disabled Status_Not Disabled_r', 'Disabled Status_Not Disabled_v', 'Educational Attainment_Advanced Degree_r', 'Educational Attainment_Advanced Degree_v', "Educational Attainment_Bachelor's Degree_r", "Educational Attainment_Bachelor's Degree_v", 'Educational Attainment_Completed High School_r', 'Educational Attainment_Completed High School_v', 'Educational Attainment_No High School_r', 'Educational Attainment_No High School_v', "Educational Attainment_Non-Bachelor's College Degree_r", "Educational Attainment_Non-Bachelor's College Degree_v", 'Educational Attainment_Some College_r', 'Educational Attainment_Some College_v', 'Educational Attainment_Some High School_r', 'Educational Attainment_Some High School_v', 'MSA size_Large Metro_r', 'MSA size_Large Metro_v', 'MSA size_Medium Metro_r', 'MSA size_Medium Metro_v', 'MSA size_Not Identified or NonMetropolitan_r', 'MSA size_Not Identified or NonMetropolitan_v', 'MSA size_Small Metro_r', 'MSA size_Small Metro_v', 'MSA status_Balance Metropolitan_r', 'MSA status_Balance Metropolitan_v', 'MSA status_Non-Metropolitan_r', 'MSA status_Non-Metropolitan_v', 'MSA status_Not Identified_r', 'MSA status_Not Identified_v', 'MSA status_Principal City_r', 'MSA status_Principal City_v', 'Registration Method_DMV_r', 'Registration Method_DMV_v', 'Registration Method_Mail_r', 'Registration Method_Mail_v', 'Registration Method_Online_r', 'Registration Method_Online_v', 'Registration Method_Public Assitance Agency_r', 'Registration Method_Public Assitance Agency_v', 'Registration Method_Registration Drive_r', 'Registration Method_Registration Drive_v', 'Registration Method_Registration Office_r', 'Registration Method_Registration Office_v', 'Registration Method_Same Day at Polls_r', 'Registration Method_Same Day at Polls_v', 'Registration Method_School, Hospital, or Campus_r', 'Registration Method_School, Hospital, or Campus_v', "Registration Method_Unknown / Don't Know_r", "Registration Method_Unknown / Don't Know_v", 'Rental Status_Occupier Not Paying Rent_r', 'Rental Status_Occupier Not Paying Rent_v', 'Rental Status_Owner_r', 'Rental Status_Owner_v', 'Rental Status_Renter_r', 'Rental Status_Renter_v', 'In-School Status_College or University Student_r', 'In-School Status_College or University Student_v', 'In-School Status_High School Student_r', 'In-School Status_High School Student_v', 'In-School Status_Not in School_r', 'In-School Status_Not in School_v', 'Total_Total_r', 'Total_Total_v', 'Race, Income_Hispanic, 0K_12.5K_r', 'Race, Income_Hispanic, 0K_12.5K_v', 'Race, Income_Hispanic, 100K+_r', 'Race, Income_Hispanic, 100K+_v', 'Race, Income_Hispanic, 12.5K_20K_r', 'Race, Income_Hispanic, 12.5K_20K_v', 'Race, Income_Hispanic, 20K_40K_r', 'Race, Income_Hispanic, 20K_40K_v', 'Race, Income_Hispanic, 40K_60K_r', 'Race, Income_Hispanic, 40K_60K_v', 'Race, Income_Hispanic, 60K_75K_r', 'Race, Income_Hispanic, 60K_75K_v', 'Race, Income_Hispanic, 75K_100K_r', 'Race, Income_Hispanic, 75K_100K_v', 'Race, Income_Hispanic, Not in Universe_r', 'Race, Income_Hispanic, Not in Universe_v', 'Race, Income_Non-Hispanic, 100K+_r', 'Race, Income_Non-Hispanic, 100K+_v', 'Race, Income_Non-Hispanic, 12.5K_20K_r', 'Race, Income_Non-Hispanic, 12.5K_20K_v', 'Race, Income_Non-Hispanic, 20K_40K_r', 'Race, Income_Non-Hispanic, 20K_40K_v', 'Race, Income_Non-Hispanic, 40K_60K_r', 'Race, Income_Non-Hispanic, 40K_60K_v', 'Race, Income_Non-Hispanic, 60K_75K_r', 'Race, Income_Non-Hispanic, 60K_75K_v', 'Race, Income_Non-Hispanic, 75K_100K_r', 'Race, Income_Non-Hispanic, 75K_100K_v', 'Race, Income_Non-Hispanic, Not in Universe_r', 'Race, Income_Non-Hispanic, Not in Universe_v', 'Race, Income_Asian, 100K+_r', 'Race, Income_Asian, 100K+_v', 'Race, Income_Asian, 12.5K_20K_r', 'Race, Income_Asian, 12.5K_20K_v', 'Race, Income_Asian, 20K_40K_r', 'Race, Income_Asian, 20K_40K_v', 'Race, Income_Asian, 40K_60K_r', 'Race, Income_Asian, 40K_60K_v', 'Race, Income_Asian, 60K_75K_r', 'Race, Income_Asian, 60K_75K_v', 'Race, Income_Asian, 75K_100K_r', 'Race, Income_Asian, 75K_100K_v', 'Race, Income_Asian, Not in Universe_r', 'Race, Income_Asian, Not in Universe_v', 'Race, Income_Black, 100K+_r', 'Race, Income_Black, 100K+_v', 'Race, Income_Black, 12.5K_20K_r', 'Race, Income_Black, 12.5K_20K_v', 'Race, Income_Black, 20K_40K_r', 'Race, Income_Black, 20K_40K_v', 'Race, Income_Black, 40K_60K_r', 'Race, Income_Black, 40K_60K_v', 'Race, Income_Black, 60K_75K_r', 'Race, Income_Black, 60K_75K_v', 'Race, Income_Black, 75K_100K_r', 'Race, Income_Black, 75K_100K_v', 'Race, Income_Black, Not in Universe_r', 'Race, Income_Black, Not in Universe_v', 'Race, Income_Combination, 100K+_r', 'Race, Income_Combination, 100K+_v', 'Race, Income_Combination, 12.5K_20K_r', 'Race, Income_Combination, 12.5K_20K_v', 'Race, Income_Combination, 20K_40K_r', 'Race, Income_Combination, 20K_40K_v', 'Race, Income_Combination, 40K_60K_r', 'Race, Income_Combination, 40K_60K_v', 'Race, Income_Combination, 60K_75K_r', 'Race, Income_Combination, 60K_75K_v', 'Race, Income_Combination, 75K_100K_r', 'Race, Income_Combination, 75K_100K_v', 'Race, Income_Combination, Not in Universe_r', 'Race, Income_Combination, Not in Universe_v', 'Race, Income_Hawaiian/Pacific Islander, 100K+_r', 'Race, Income_Hawaiian/Pacific Islander, 100K+_v', 'Race, Income_Hawaiian/Pacific Islander, 12.5K_20K_r', 'Race, Income_Hawaiian/Pacific Islander, 12.5K_20K_v', 'Race, Income_Hawaiian/Pacific Islander, 20K_40K_r', 'Race, Income_Hawaiian/Pacific Islander, 20K_40K_v', 'Race, Income_Hawaiian/Pacific Islander, 40K_60K_r', 'Race, Income_Hawaiian/Pacific Islander, 40K_60K_v', 'Race, Income_Hawaiian/Pacific Islander, 60K_75K_r', 'Race, Income_Hawaiian/Pacific Islander, 60K_75K_v', 'Race, Income_Hawaiian/Pacific Islander, 75K_100K_r', 'Race, Income_Hawaiian/Pacific Islander, 75K_100K_v', 'Race, Income_Hawaiian/Pacific Islander, Not in Universe_r', 'Race, Income_Hawaiian/Pacific Islander, Not in Universe_v', 'Race, Income_Native American, 100K+_r', 'Race, Income_Native American, 100K+_v', 'Race, Income_Native American, 12.5K_20K_r', 'Race, Income_Native American, 12.5K_20K_v', 'Race, Income_Native American, 20K_40K_r', 'Race, Income_Native American, 20K_40K_v', 'Race, Income_Native American, 40K_60K_r', 'Race, Income_Native American, 40K_60K_v', 'Race, Income_Native American, 60K_75K_r', 'Race, Income_Native American, 60K_75K_v', 'Race, Income_Native American, 75K_100K_r', 'Race, Income_Native American, 75K_100K_v', 'Race, Income_Native American, Not in Universe_r', 'Race, Income_Native American, Not in Universe_v', 'Race, Income_White, 100K+_r', 'Race, Income_White, 100K+_v', 'Race, Income_White, 12.5K_20K_r', 'Race, Income_White, 12.5K_20K_v', 'Race, Income_White, 20K_40K_r', 'Race, Income_White, 20K_40K_v', 'Race, Income_White, 40K_60K_r', 'Race, Income_White, 40K_60K_v', 'Race, Income_White, 60K_75K_r', 'Race, Income_White, 60K_75K_v', 'Race, Income_White, 75K_100K_r', 'Race, Income_White, 75K_100K_v', 'Race, Income_White, Not in Universe_r', 'Race, Income_White, Not in Universe_v', 'In-School Status, Age_College or University Student, 25 - 29_r', 'In-School Status, Age_College or University Student, 25 - 29_v', 'In-School Status, Age_College or University Student, 30 - 39_r', 'In-School Status, Age_College or University Student, 30 - 39_v', 'In-School Status, Age_College or University Student, 40 - 49_r', 'In-School Status, Age_College or University Student, 40 - 49_v', 'In-School Status, Age_College or University Student, 50 - 65_r', 'In-School Status, Age_College or University Student, 50 - 65_v', 'In-School Status, Age_College or University Student, 65+_r', 'In-School Status, Age_College or University Student, 65+_v', 'In-School Status, Age_High School Student, 18 - 24_r', 'In-School Status, Age_High School Student, 18 - 24_v', 'In-School Status, Age_High School Student, 25 - 29_r', 'In-School Status, Age_High School Student, 25 - 29_v', 'In-School Status, Age_High School Student, 30 - 39_r', 'In-School Status, Age_High School Student, 30 - 39_v', 'In-School Status, Age_High School Student, 40 - 49_r', 'In-School Status, Age_High School Student, 40 - 49_v', 'In-School Status, Age_High School Student, 50 - 65_r', 'In-School Status, Age_High School Student, 50 - 65_v', 'In-School Status, Age_High School Student, 65+_r', 'In-School Status, Age_High School Student, 65+_v', 'In-School Status, Age_Not in School, 18 - 24_r', 'In-School Status, Age_Not in School, 18 - 24_v', 'In-School Status, Age_Not in School, 25 - 29_r', 'In-School Status, Age_Not in School, 25 - 29_v', 'In-School Status, Age_Not in School, 30 - 39_r', 'In-School Status, Age_Not in School, 30 - 39_v', 'In-School Status, Age_Not in School, 40 - 49_r', 'In-School Status, Age_Not in School, 40 - 49_v', 'In-School Status, Age_Not in School, 50 - 65_r', 'In-School Status, Age_Not in School, 50 - 65_v', 'In-School Status, Age_Not in School, 65+_r', 'In-School Status, Age_Not in School, 65+_v', 'Race, Income_Non-White or Hispanic, 0K_12.5K_r', 'Race, Income_Non-White or Hispanic, 0K_12.5K_v', 'Race, Income_Non-White or Hispanic, 100K+_r', 'Race, Income_Non-White or Hispanic, 100K+_v', 'Race, Income_Non-White or Hispanic, 12.5K_20K_r', 'Race, Income_Non-White or Hispanic, 12.5K_20K_v', 'Race, Income_Non-White or Hispanic, 20K_40K_r', 'Race, Income_Non-White or Hispanic, 20K_40K_v', 'Race, Income_Non-White or Hispanic, 40K_60K_r', 'Race, Income_Non-White or Hispanic, 40K_60K_v', 'Race, Income_Non-White or Hispanic, 60K_75K_r', 'Race, Income_Non-White or Hispanic, 60K_75K_v', 'Race, Income_Non-White or Hispanic, 75K_100K_r', 'Race, Income_Non-White or Hispanic, 75K_100K_v', 'Race, Income_Non-White or Hispanic, Not in Universe_r', 'Race, Income_Non-White or Hispanic, Not in Universe_v', 'Race, Income_White Non-Hispanic, 100K+_r', 'Race, Income_White Non-Hispanic, 100K+_v', 'Race, Income_White Non-Hispanic, 12.5K_20K_r', 'Race, Income_White Non-Hispanic, 12.5K_20K_v', 'Race, Income_White Non-Hispanic, 20K_40K_r', 'Race, Income_White Non-Hispanic, 20K_40K_v', 'Race, Income_White Non-Hispanic, 40K_60K_r', 'Race, Income_White Non-Hispanic, 40K_60K_v', 'Race, Income_White Non-Hispanic, 60K_75K_r', 'Race, Income_White Non-Hispanic, 60K_75K_v', 'Race, Income_White Non-Hispanic, 75K_100K_r', 'Race, Income_White Non-Hispanic, 75K_100K_v', 'Race, Income_White Non-Hispanic, Not in Universe_r', 'Race, Income_White Non-Hispanic, Not in Universe_v', "Nativity and Parent's Nativity_Born in USA, Both Parents Born Outside USA_r", "Nativity and Parent's Nativity_Born in USA, Both Parents Born Outside USA_v", "Nativity and Parent's Nativity_Born in USA, One Parent Born Outside USA_r", "Nativity and Parent's Nativity_Born in USA, One Parent Born Outside USA_v", "Nativity and Parent's Nativity_Not Born in USA, Both Parents Born in USA_r", "Nativity and Parent's Nativity_Not Born in USA, Both Parents Born in USA_v", "Nativity and Parent's Nativity_Not Born in USA, Both Parents Born Outside USA_r", "Nativity and Parent's Nativity_Not Born in USA, Both Parents Born Outside USA_v", "Nativity and Parent's Nativity_Not Born in USA, One Parent Born Outside USA_r", "Nativity and Parent's Nativity_Not Born in USA, One Parent Born Outside USA_v", 'Years in US_0-5 Years in US_r', 'Years in US_0-5 Years in US_v', 'Years in US_11-15 Years in US_r', 'Years in US_11-15 Years in US_v', 'Years in US_16-20 Years in US_r', 'Years in US_16-20 Years in US_v', 'Years in US_21-25 Years in US_r', 'Years in US_21-25 Years in US_v', 'Years in US_26+ Years in US_r', 'Years in US_26+ Years in US_v', 'Years in US_6-10 Years in US_r', 'Years in US_6-10 Years in US_v']

In [17]:
# Put the info together and export to file!
final = np.column_stack([id_list,data_list])
print(final[0])

with open("ivr_final.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerows(final)

['Race_Asian_r'
 array([51.92, 57.17, 48.92, 52.36, 49.25, 51.8 , 49.05, 55.25, 49.29,
       56.32, 48.84, 56.25])]

In [18]:
yuh = pd.read_csv('ivr_final.csv')
yuh.head(220)

,Race_Asian_r,[51.92 57.17 48.92 52.36 49.25 51.8 49.05 55.25 49.29 56.32 48.84 56.25]
0,Race_Asian_v,[39.37 45.03 32.37 43.35 31.26 44.15 32.42 47....
1,Race_Black_r,[61.27 66.4 63.56 67.46 62.34 68.68 60.94 69....
2,Race_Black_v,[38.87 52.99 41.78 56.77 42.18 60.04 41.01 64....
3,Race_Combination_r,[ 0. 0. 0. 0. 0. 69.48 63.1 68....
4,Race_Combination_v,[ 0. 0. 0. 0. 0. 58.25 39.9 60....
5,Race_Hawaiian/Pacific Islander_r,[ 0. 0. 0. 0. 0. 58.82 46.74 57....
6,Race_Hawaiian/Pacific Islander_v,[ 0. 0. 0. 0. 0. 49.16 29.42 50....
7,Race_Native American_r,[56.35 60.56 58.34 59.7 53.18 57.04 54.17 60....
8,Race_Native American_v,[37.76 44.68 36.13 47.71 29.58 45.58 30.13 47....
9,Race_White_r,[68.42 72.04 68.21 70.43 67.87 73.59 69.51 72....
10,Race_White_v,[50.03 59.59 46.26 60.46 47.38 65.41 49.74 64....
11,Race_Hispanic_r,[ 0. 58.64 55.2 57.35 53.2 57.86 53.73 59....
12,Race_Hispanic_v,[ 0. 43.97 32.82 45.1 31.22 47.16 32.32 49....
13,Race_Non-Hispanic_r,[ 0. 71.77 67.97 70.44 67.64 73.38 68.86 72....
14,Race_Non-Hispanic_v,[ 0. 59.32 46.2 60.56 47.36 65.31 49.26 65....
15,Race_Non-White or Hispanic_r,[ 0. 63.1 59.28 62.35 57.61 62.95 56.96 64....
16,Race_Non-White or Hispanic_v,[ 0. 49.31 37.76 51.3 37.08 53.57 36.71 56....
17,Race_White Non-Hispanic_r,[ 0. 73. 69.27 71.57 69.22 75.13 71.19 73....
18,Race_White Non-Hispanic_v,[ 0. 60.73 47.38 61.82 48.84 67.2 51.6 66....
19,Age_18 - 24_r,[46.76 53.48 43.55 50.69 43.27 57.57 46.3 58....
20,Age_18 - 24_v,[22.15 35.58 18.49 36.11 19.42 46.75 22.14 48....
21,Age_25 - 29_r,[53.33 61.33 56.19 61.35 55.7 63.82 57.25 64....
22,Age_25 - 29_v,[31.39 44.88 27.62 46.89 27.51 52.43 30.33 54....
23,Age_30 - 39_r,[64.12 68.14 64.79 67.35 63.59 69.27 64.55 69....
24,Age_30 - 39_v,[43.35 54.27 39.06 56.72 39.1 60.4 40.14 61....
25,Age_40 - 49_r,[72.33 75. 71.22 72.06 69.93 74.28 69.42 71....
26,Age_40 - 49_v,[55.29 64. 49.79 63.24 49.84 66.81 49.66 64....
27,Age_50 - 65_r,[76.19 78.57 75.88 76.42 74.4 77.8 75.03 75....
28,Age_50 - 65_v,[60.79 69.22 58.19 69.16 57.91 71.61 60.17 70....
29,Age_65+_r,[78.8 79.47 77.68 78.42 78.05 79.26 78.04 77....
...,...,...
190,"Race, Income_Asian, 100K+_v",[49.64 58.8 43.58 53.2 44.06 59.08 44.18 60....
191,"Race, Income_Asian, 12.5K_20K_r",[53.39 45.25 36.09 52.91 38.83 49.55 51.16 46....
192,"Race, Income_Asian, 12.5K_20K_v",[39.76 35.51 25.24 40.95 16. 43.22 31.68 39....
193,"Race, Income_Asian, 20K_40K_r",[48.15 59.09 45.75 52.75 43.48 50.38 49.76 50....
194,"Race, Income_Asian, 20K_40K_v",[35.58 44.15 28.55 42.22 26.35 39.62 33.99 42....
195,"Race, Income_Asian, 40K_60K_r",[47.94 57.26 47.65 52.45 51.77 48.93 55.52 58....
196,"Race, Income_Asian, 40K_60K_v",[36.94 46.17 30.25 41.13 33.4 37. 35.12 47....
197,"Race, Income_Asian, 60K_75K_r",[65.11 65.56 56.93 54.24 47.5 59.89 57.5 61....
198,"Race, Income_Asian, 60K_75K_v",[47.77 49.33 32.58 41.57 27.79 53.73 39.88 49....
199,"Race, Income_Asian, 75K_100K_r",[ 0. 0. 0. 0. 0. 56.46 50.18 73....
200,"Race, Income_Asian, 75K_100K_v",[ 0. 0. 0. 0. 0. 50.37 29.64 68....
201,"Race, Income_Asian, Not in Universe_r",[43.55 35.48 31.07 37.01 32.56 36.96 30.39 31....
202,"Race, Income_Asian, Not in Universe_v",[33.87 26.98 24.14 32.38 19.47 31.97 21.11 27....
203,"Race, Income_Black, 100K+_r",[76.25 84.42 79.32 83.04 77.96 79.93 76. 79....
204,"Race, Income_Black, 100K+_v",[60.97 77.38 62.32 76.01 61.47 77.5 61.05 77....
205,"Race, Income_Black, 12.5K_20K_r",[59.46 62.83 59.41 66.31 62.42 70.29 64.69 74....
206,"Race, Income_Black, 12.5K_20K_v",[36.9 48.58 36.66 52.21 37.12 60.46 36.6 67....
207,"Race, Income_Black, 20K_40K_r",[65.36 68.55 67.52 70.44 63.96 74.37 65.39 76....
208,"Race, Income_Black, 20K_40K_v",[41.35 55.42 43.58 59.74 42.9 64.4 42.19 70....
209,"Race, Income_Black, 40K_60K_r",[67.7 74.99 71. 72.44 69.2 76.32 72.25 77....
210,"Race, Income_Black, 40K_60K_v",[47.94 62.29 50.31 64.89 49.19 69.19 51.92 71....
211,"Race, Income_Black, 60K_75K_r",[72.41 84.14 79.19 77.41 68.57 80.65 73.99 84....
212,"Race, Income_Black, 60K_75K_v",[50.01 75.1 54.18 69.48 53.69 75.54 57.41 80....
213,"Race, Income_Black, 75K_100K_r",[ 0. 0. 0. 0. 0. 79.72 72.45 81....
214,"Race, Income_Black, 75K_100K_v",[ 0. 0. 0. 0. 0. 76.82 57.6 78....
215,"Race, Income_Black, Not in Universe_r",[48.1 54.66 49.29 53.8 50.17 48.99 42.35 48....
216,"Race, Income_Black, Not in Universe_v",[33.28 43.62 34.69 46.45 35.29 42.33 30.26 45....
217,"Race, Income_Combination, 100K+_r",[ 0. 0. 0. 0. 0. 85.54 69.6 77....
218,"Race, Income_Combination, 100K+_v",[ 0. 0. 0. 0. 0. 79.09 49.28 69....
219,"Race, Income_Combination, 12.5K_20K_r",[ 0. 0. 0. 0. 0. 60.86 57.9 63....